#container{
    width: 100%;
    min-height: 100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    grid-template-areas: "header"
                         "sidebar"
                         "filter"
                         "content"
                         "footer";
    background-image: linear-gradient(0deg, #fcda53, #f9c13a);
    z-index: 1;
}

#header{
    grid-area: header;

    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas: "logo cart menu"
                         "navbar navbar navbar";

    align-items: center;
    justify-items: center;
    background-color: #f9c13a;

    z-index: 1;
}

#sidebar{
    grid-area: sidebar;

    background-color: white;
    z-index: 1;
}

#content{
    grid-area: content;
    z-index: 1;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(400px,1fr));

    margin: 2rem;
    grid-gap: 3rem;
}

#footer{
    grid-area: footer;
    background-color: black;
    padding: 10px;

    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "about links contact"
                         "about designer contact";
    z-index: 1;
}

