.mobile-hidden{
    display: none;
}

@media (max-width:480px) {
    .mobile-large{
        display: none;
    }
}

@media screen and (orientation:landscape){
    #content{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:768px){
    .mobile-only{display: none; }

    .mobile-hidden{
        display: block;
    }

    html{
        font-size: 18px;
    }

    #container{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: max-content 1fr max-content;

        grid-template-areas: "header header"
                             "filter content"
                             "footer footer";
    }

    /* #region Filter */

    #filter{
        display: block;
        margin: 2rem 1rem 2rem 1rem;
        padding: 20px;
        border-radius: 25px;
    }

    #filter li{
        text-align: left;
    }

    #filter-title{
        text-align: center;
        color: #808080;
        font-size: 2rem;
    }

    /* #endregion */

    #header{
        grid-template-columns: 2fr 5fr 1fr;
        grid-template-areas: "logo menu cart";
    }

    #logo{
        justify-self: center;
        margin-left: 0;
    }

    .active a{
        color: red !important;
    }

    #sidebar{
        display: none;
    }

    #content{
        grid-template-columns: 1fr 1fr;
    }

    /* #region Navbar */

    #navigation{
        grid-area: menu;
        display: inline-block;
        background-color: unset;
        text-align: center;
    }

    #navigation li, #navigation a{
        display: inline-block;
        color: black;
    }

    #navigation li:hover, #nagivation li:active{
        background-color: unset;
        transform: scale(1.2);
        cursor: pointer;
    }

    /* #endregion */

    #cart-actions{
        width: 50%;
    }

    #menu{display: none;}
}

@media (min-width:1025px){

    html{
        font-size: 20px;
    }

    #content{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    /* #region Filter */

    #filter-title{
        font-size: 1rem;
    }

    #filter li{
        font-size: 0.7rem;
    }

    /* #endregion */

    #cart-content{
        left: 25%;
        width: 50%;
        height: 50%;
        border-radius: 25px;
        border: 1px solid #696969;
    }

    .item{
        font-size: 0.8rem;
    }
}

.small-text{
    font-size: 12px;
    font-family: monospace;
    margin: 0 !important;
}