@media (max-width:480px) {
    .mobile-hidden{
        display: none;
    }

    .mobile-large{
        display: none;
    }
}

@media screen and (orientation:landscape){
    #content{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:768px){
    .mobile-only{
        display: none;
    }
}

.small-text{
    font-size: 12px;
    font-family: monospace;
    margin: 0 !important;
}