/* #region Navbar Mobile */

#navigation{
    display: none;
    grid-area: navbar;
    padding: 0;
    margin: 0;
    background-color: #696969;
    z-index: 1;
    width: 100%;
    font-size: 1rem;
}

#navigation li{
    font-size: 1.17em;
    font-family: 'Raleway';
    text-decoration: none;
    list-style-type: none;
    color: white;
}

#navigation li:hover{
    background-color: black;
}

#navigation a{
    display: block;
    padding: 1em 20px;
}

/* #endregion */

/* #region Header */

#logo{
    justify-self: left;
    margin-left: 20px;
}

#menu{
    grid-area: menu;
}

#cart{
    grid-area: cart;
}

#cart:hover, #cart:active{
    transform: scale(1.1);
    cursor: pointer;
}

#menu:active, #cart:active{
    transform: scale(1.1);
}

#header img{
    width: 40px;
}

/* #endregion */

/* #region Filter*/

#filter-btn{
    float: right;
    margin: 30px;
    font-size: 1.5em;
    border-radius: 50px;
    background-color: white;
    color: white;
    padding: 5px;
}

#filter-label{
    float: left;
    margin: 30px;
    font-size: 1.5em;
}

#filter{
    grid-area: filter;
    background-color: white;
    display: none;
    transition: 1s all;
}

#filter ul{
    padding: 0;
    margin: 0;
}

#filter li{
    font-size: 1.17em;
    font-family: 'Raleway';
    padding: 1em 20px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

#filter ul li:not(#price):hover{
    background-color: black;
    color: white;
}

#price-filter li{
    font-size: 1em;
}

/* #endregion */

/* #region Footer */

#footer-links{
    grid-area: links;
    margin: auto;
}

.link-icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    margin: 0 5px;
    display: inline-block;
}

#footer-designer{
    grid-area: designer;
    color: white;
    font-size: 0.4rem;
    font-family: monospace;
    text-align: center;
    margin: 0 0 10px 0;
}

#footer-designer p{
    margin: 0;
}

#footer-contact{
    grid-area: contact;
    color: white;
    margin:auto;
    padding: 0 5px 0 0;
}

#footer-contact p, #footer-about p{
    margin: 0 0 10px 0;
}

#footer-about{
    grid-area: about;
    color: white;
    margin:auto;
    padding: 0 0 0 5px;
}

/* #endregion */

/* #region Cart */

#cart-content{
    background-color: white;
    height: calc(100vh - 50px);
    z-index: 2;
    position: absolute;
    width: calc(100% - 50px);
    padding: 25px;
    transition: 1s all;
    top: -100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr max-content max-content;
    grid-template-areas: "cart-title"
                         "cart-items"
                         "cart-summary"
                         "cart-actions";
}

#cart-title{
    grid-area: cart-title;
    justify-self: center;

    font-size: 3rem;
}

#cart-items{
    grid-area: cart-items;
}

#cart-summary{
    grid-area: cart-summary;

    margin: 25px 0;
}

#cart-actions{
    grid-area: cart-actions;
}

#cart-actions button{
    border-radius: 25px;
    color: white;
    background-color: black;
    padding: 10px;
    width: calc((100% / 3) - 3px);
}

#cart-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}
/* #endregion */

/* #region Products */

.item{
    background-color: white;
    padding: 0 0 20px 0;
    /* margin: 50px; */
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item-image{
    width: 100%;
    border-radius: 25px 25px 0 0 ;

}

.item-name{
    text-align: center;
    color: #808080;
}

.item-price{
    text-align: center;
}

.item:hover, .item:active{
    transform: scale(1.1);
    cursor: pointer;
}

/* .item-actions > *{
    display: inline-block;
}

.item-actions input[type=number]{
    width: 3ch;
} */

/* #endregion */


