#skill-window{
    width: 25vw;
    height: 50vh;
    margin: auto;
    background-color: #c5c3c3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
    padding: 25px;
}

#skill-window-title{
    text-align: center;
    font-size: 3vw;
}

#skillset-1{
    float: left;
}

#skillset-2{
    float: right;
}

#skill-window-close{
    position: absolute;
    bottom: 0;
    right: 5%;
}

body{
    background:linear-gradient(90deg,#5dfe60, #28d1ab);
    margin: 0;
    padding: 10px;
}

img{
    width: 300px;
}

img:hover, img:active{
    transform: scale(1.1);
    cursor: pointer;
}

.money{
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
}

.energy{
    width: 20vw;
    position: relative;
    margin: 0 auto !important;
}

.day{
    position: absolute;
    top: 0;
    width: 20vw;
    margin: 0;
}

.ui-text{
    font-size: 25px;
    font-family: monospace;
    margin: 0;
}

#map{
    width: calc(90vw - 20px);
    height: calc(60vh - 20px);
    position: absolute;
    top: 0;
    padding: 20vh 5vw;
}